html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  letter-spacing: 0.0625em;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: #000;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav {
  color: fade(#ffffff, 80%);
  outline: none;
  background-color: transparent;
  font-weight: 700;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

.btn {
  box-shadow: 0.0275rem 0.0275rem 0.1175rem 0.1175rem #333c3d !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  margin-top: 15px;
}

<!--  -->

.results-p.center {
  text-align: center;
  font-size: 200%;
  color: white;
  border: 4px solid white;
  padding: 35px;
}

.results-p.large {
  font-size: 300%;
  border: 4px solid white;
  padding: 35px;
}

.results-p.center2 {
  text-align: center;
  font-size: 150%;
  border: 4px solid white;
  padding: 35px;
}

.results-p.center3 {
  text-align: center;
  font-size: 150%;
  border: 4px solid white;
  padding: 35px;
}

.results-p.center4 {
  text-align: center;
  font-size: 150%;
  border: 4px solid white;
  padding: 35px;
}




.results-h1, h2 {
  color: White;
  text-shadow: 2px 2px 4px #000000;
}

.results-h3 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.results-p {
  color: white;
}

.results-li {
   color: white;
   text-shadow: 2px 2px 4px #000000;
}


.results-body {
  background-color: grey ;
}

.results-.nav {
  background-color: white ;
  list-style-type:none;
  text-align:center;
  text-color: white;
  margin: 0;
  padding: 0;
}



.results-.nav li {
  text-shadow: 2px 2px 4px white;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.results-#flip, #panel {
  padding: 5px;
  text-align: center;
  background-color: tomato;
  border: solid 1px #c3c3c3;
}

.results-#panel {
  padding: 50px;
  display: none;
}



<!--  -->
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/landing.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2, .masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}




<!-- -->
.content-section {
  background: rgba(155, 190, 193, 0.61);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 150px;
  margin-left: 90px;
  margin-right: 90px;
}

.border-top {
  margin-left: 45px;
  margin-right: 45px;
}


.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}
.projects-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}
.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
}



.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


#forgot-pass {
  margin-left: 20px;
}



.height{
  height: 20vh;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus{
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
<<<<<<< HEAD
}
=======
}

#ale-linkedin, #java-linkedin, #dilyan-linkedin {
  height: 300px;
  width: 85%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border: 6px solid #4863A0;
  overflow: hidden;
  border-radius: 50%;
}
#ale-linkedin {
  background: url("../assets/img/Alessandro_main.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
#java-linkedin {
  background: url("../assets/img/Java_main.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
#dilyan-linkedin {
  background: url("../assets/img/Dilyan_main.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
#ale-linkedin span, #java-linkedin span, #dilyan-linkedin span {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25%;
  align-content: center;
  text-align: center;
  font-size: 1.3vw;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.row {
  margin-right: -15px;
  margin-left: px;
}
.abus-section {
    background: rgb(0,3,8);
    background: linear-gradient(180deg, rgba(0,3,8,1) 0%, rgba(0,22,57,1) 60%, rgba(0,0,0,1) 100%);
}
.abus-section a {
    color: #213dab;
}
.abus-info {
    color: #ffffff;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-9 {
  width: 75%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-9 {
    width: 75%;
  }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-9 {
    width: 75%;
  }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
    .col-lg-4 {
      width: 33.33333333%;
  }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

>>>>>>> 877f395464b4f5f78bec49129dd02269fb535745
