{% extends "layout.html" %}
{% block content %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">About us</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">We are a team of students from different background to explore the world of IT and Computer Science!</h2>
                </div>
            </div>
        </div>
    </header>

    <div class="row abus-section abus-info">
        <!-- main content area -->

        <div class="col-sm-9 col-lg-4 col-md-9 col-xs-9">
          <a href="https://www.linkedin.com/in/alessandro-lupo96/">
              <div id="ale-linkedin" class="img-responsive"><span>Alessandro </br> Lupo</span></div>
          </a>
          <h2><a href="https://www.linkedin.com/in/alessandro-lupo96/"> LinkedIn</a></h2>
          <p> <strong>Has a strong background in Quantum Computing and its applications in life. Experienced in project management </strong> </p>
          <p> Doing master’s in Digital Transformation Management and is studying topics linked to the world of computer science, digitalization, programming and database systems.</p>
          <p> 2022 - till now, the University of Bologna </p>
          <h3> Contacts:</h3>
          <ul>
          <li>Mobile phone: +39 327 744 5147
          </li>
          <li>LinkedIn: https://www.linkedin.com/in/alessandro-lupo96/
          </li>
          <li>Email: alessandro.lupo.1996la96@gmail.com
          </li>
          </ul>
        </div>

        <div class="col-sm-9 col-lg-4 col-md-9 col-xs-9">
          <a href="https://www.linkedin.com/in/javokhir-isomurodov/">
            <div id="java-linkedin" class="img-responsive"><span>Javokhir </br>Isomurodov</span></div>
          </a>
          <h2><a href="https://www.linkedin.com/in/javokhir-isomurodov/"> LinkedIn</a></h2>
          <p><strong> Is passionate about Artificial Intelligence and Machine Learning. Has been working actively on telemedicine lately </strong></p>
          <p> Doing master’s in Digital Transformation Management and is studying topics linked to the world of computer science, digitalization, programming and database systems.</p>
          <p> 2022 - till now, the University of Bologna </p>
              <h3> Contacts:</h3>
          <ul>
          <li>Mobile phone: +39 377 387 1618
          </li>
          <li>LinkedIn: https://www.linkedin.com/in/javokhir-isomurodov/
          </li>
          <li>Email: mr.isomurodov@gmail.com
          </li>
          </ul>
        </div>

        <div class="col-sm-9 col-lg-4 col-md-9 col-xs-9">
          <a href="https://www.linkedin.com/in/dildora-abdurakhmanova/">
            <div id="dilyan-linkedin" class="img-responsive"><span>Dildora </br> Abdurakhmanova</span></div>
          </a>
          <h2><a href="https://www.linkedin.com/in/dildora-abdurakhmanova/"> LinkedIn</a></h2>
          <p><strong> Did bachelor’s in Accounting. Is involved in software quality control with main focus on mobile applications</strong> </p>
          <p> Doing master’s in Digital Transformation Management and is studying topics linked to the world of computer science, digitalization, programming and database systems.</p>
          <p> 2022 - till now, the University of Bologna </p>
              <h3> Contacts:</h3>
          <ul>
          <li>Mobile phone: +39 329 362 9003
          </li>
          <li>LinkedIn: https://www.linkedin.com/in/dildora-abdurakhmanova/
          </li>
          <li>Email: abduraxmanova2298@gmail.com
          </li>
          </ul>
        </div>
      </div>

    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Start the journey!</h2>
                    <p class="text-white-50">
                        Let's explore your favourite topic!
                        You research will be improved!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
